<script>
//    let username = "{{username}}";
//    console.log(">> "+username);
//   if(username == ""){
//        window.location.replace('/auth/signin');
//    }
</script>

{{#if isAuthenticated }}
<h1>Welcome {{profile.givenName}}!</h1>

<ul>
    {{#each profile}}

    <li>{{@key}}: {{this}}</li>

    {{/each}}
</ul>
{{else}}
<h1>One moment please...</h1>

{{/if}}
